{
    email {$ACME_EMAIL}
}

{$DOMAIN} {
    encode zstd gzip
    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer
    }
    @webhook path /webhook/*
    respond @webhook 404
    reverse_proxy app:8000
}
